// vim:ft=rust:noci

{% macro collect_metric(metric) %}
if {{ metric.condition | print_rust_opt() | assigned_or("true") }} {
  {% match metric.ty %}
  {% when dsl::Ty::Scalar %}
      {% match metric.value %}
      {% when dsl::MetricValue::Set(expression) %}
          self.{{ metric.name }} = {{ expression | print_rust() }};
      {% when dsl::MetricValue::Add(expression) %}
          self.{{ metric.name }} += {{ expression | print_rust() }};
      {% endmatch %}
  {% when dsl::Ty::Map(ty) %}
      {% match metric.value %}
      {% when dsl::MetricValue::Set(expression) %}
          *self.{{ metric.name }}.entry({{ metric.group.as_ref().unwrap().key | print_rust() }}).or_default() = {{ expression | print_rust() }};
      {% when dsl::MetricValue::Add(expression) %}
          *self.{{ metric.name }}.entry({{ metric.group.as_ref().unwrap().key | print_rust() }}).or_default() += {{ expression | print_rust() }};

      {% endmatch %}
  {% endmatch %}
}
{% endmacro %}

{% macro collect_bigram_metrics_kind(kind_name) %}
{% for metric in metrics %}{% if metric.category.is_bigram_kind(kind_name) %}
{% call collect_metric(metric) %}{% endcall %}
{% endif %}{% endfor %}
{% endmacro %}

{% macro collect_trigram_metrics_kind(kind_name) %}
{% for metric in metrics %}{% if metric.category.is_trigram_kind(kind_name) %}
{% call collect_metric(metric) %}{% endcall %}
{% endif %}{% endfor %}
{% endmacro %}

use indexmap::IndexMap;

#[allow(unused)] use crate::layout::*;
#[allow(unused)] use crate::matrix::*;
#[allow(unused)] use crate::ngrams::*;

#[cfg_attr(test, mockall::automock)]
pub trait MetricsCollector {
    fn collect_unigram(&mut self, unigram: &Unigram, count: f64);
    fn collect_bigram(&mut self, bigram: &Bigram, count: f64);
    fn collect_trigram(&mut self, trigram: &Trigram, count: f64);
}

#[derive(Default)]
pub struct Metrics {
{%- for metric in metrics %}
    pub {{ metric.name }}: {{ metric.ty | print_ty() }},
{%- endfor %}
}

impl MetricsCollector for Metrics {
    #[allow(unused_variables)]
    #[allow(clippy::useless_conversion)]
    fn collect_unigram(&mut self, unigram: &Unigram, count: f64) {
        {% for metric in metrics %}{% if metric.category.is_unigram() %}
        {% call collect_metric(metric) %}{% endcall %}
        {% endif %}{% endfor %}
    }

    #[allow(unused_variables)]
    #[allow(clippy::useless_conversion)]
    fn collect_bigram(&mut self, bigram: &Bigram, count: f64) {
        {% for metric in metrics %}{% if metric.category.is_bigram_no_kind() %}
        {% call collect_metric(metric) %}{% endcall %}
        {% endif %}{% endfor %}

        bigram.for_each_kind(|kind| {
            {% for metric in metrics %}{% if metric.category.is_bigram_kind("_") %}
            {% call collect_metric(metric) %}{% endcall %}
            {% endif %}{% endfor %}
            match kind {
                BigramKind::SameFingerSkip { units } => { {{ collect_bigram_metrics_kind("SameFingerSkip") }} }
                BigramKind::LateralStretch { finger, units } => { {{ collect_bigram_metrics_kind("LateralStretch") }} }
                BigramKind::Scissor { units, upper_finger, lower_finger, adiacent } => { {{ collect_bigram_metrics_kind("Scissor") }} }
                BigramKind::Other => { {{ collect_bigram_metrics_kind("Other") }} }
            }
        });
    }

    #[allow(unused_variables)]
    #[allow(clippy::useless_conversion)]
    fn collect_trigram(&mut self, trigram: &Trigram, count: f64) {
        {% for metric in metrics %}{% if metric.category.is_trigram_no_kind() %}
        {% call collect_metric(metric) %}{% endcall %}
        {% endif %}{% endfor %}

        trigram.for_each_kind(|kind| {
            {% for metric in metrics %}{% if metric.category.is_trigram_kind("_") %}
            {% call collect_metric(metric) %}{% endcall %}
            {% endif %}{% endfor %}
            match kind {
                TrigramKind::SameFingerSkip { units, handedness } => { {{ collect_trigram_metrics_kind("SameFingerSkip") }} }
                TrigramKind::Roll { length, direction } => { {{ collect_trigram_metrics_kind("Roll") }} }
                TrigramKind::Redirect { strength } => { {{ collect_trigram_metrics_kind("Redirect") }} }
                TrigramKind::Alternation => { {{ collect_trigram_metrics_kind("Alternation") }} }
                TrigramKind::LateralStretch { handedness, finger, units } => { {{ collect_trigram_metrics_kind("LateralStretch") }} }
                TrigramKind::Scissor { handedness, units, lower_finger, upper_finger, adiacent } => { {{ collect_trigram_metrics_kind("Scissor") }} }
                TrigramKind::Other => { {{ collect_trigram_metrics_kind("Other") }} }
            }
        });
    }
}
